/* .formButtonsSmall {
  display: flex;
  justify-content: space-between;
} */

.formButtonsSmall div {
  max-width: 300px;
  min-width: 150px;
  text-align: center;
  padding: 12px 14px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  margin: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 14px;
}

.successButtonLink {
  background-color: rgb(87, 102, 236);
  transition: all 0.25s ease;
}

.successButtonLink:hover {
  background-color: rgb(104, 117, 235);
}

.successButtonLink:active {
  background-color: rgb(49, 62, 179);
  border: 2px solid rgb(87, 102, 236);
}

.warningButtonLink {
  background-color: #f1c40f;
  transition: all 0.25s ease;
}

.warningButtonLink:hover {
  background-color: #ffd900;
}

.warningButtonLink:active {
  background-color: #b89d31;
  border: 2px solid #f1c40f;
}

.dangerButtonLink {
  background-color: #e74c3c;
  transition: all 0.25s ease;
}

.dangerButtonLink:hover {
  background-color: #e27777;
}

.dangerButtonLink:active {
  background-color: #7e2a1b;
  border: 2px solid #e74c3c;
}

.defaultButtonLink {
  background-color: #bdc3c7;
  transition: all 0.25s ease;
}

.defaultButtonLink:hover {
  background-color: #dddddd;
}

.defaultButtonLink:active {
  background-color: #555555;
  border: 2px solid #bdc3c7;
}
