.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10%;
}

.dropbtn {
  background-color: rgb(87, 102, 236);
  min-width: 160px;
  color: white;
  padding: 9px 8px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 5px;
  border: 2px solid white;
  transition: all 0.25s ease;
}

.dropbtn label {
  padding-left: 20%;
}

.triangleDropDown {
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.dropbtn:hover svg {
  transform: rotate(90deg);
}

.dropbtn:hover {
  background-color: rgb(104, 117, 235);
  border: 2px solid rgb(49, 62, 179);
}

.dropdown-content {
  margin-top: 11px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropbtn:hover .dropdown-content {
  display: block;
}
/* .dropdown-content-active {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* .dropbtn:focus  {
  background-color: aqua;
} */
